{% include "base.html" %}

{% block content %}

  <div class="container">
    <div class="row centered">
      <div class="row">
        <i class="fa fa-trophy">
          {% if task.priority == "No priority" %}
            <div class="panel panel-default">
              {% include "task_manager/task_detail_info.html" %}
            </div>

          {% elif task.priority == "Low" %}
            <div class="panel panel-info">
              {% include "task_manager/task_detail_info.html" %}
            </div>

          {% elif task.priority == "Normal" %}
            <div class="panel panel-warning">
              {% include "task_manager/task_detail_info.html" %}
            </div>

          {% elif task.priority == "Urgent" %}
            <div class="panel panel-danger">
              {% include "task_manager/task_detail_info.html" %}
            </div>
          {% endif %}
        </i>
      </div>
    </div>
  </div>

{% endblock %}
